.page-header h3 {
    text-align: center;
}
.news-container
{
    /* background-color: #f8f8f8; */
    border-top: 1px solid #f8f8f8;
}
.page-header{
        margin-top: 10px;
}
.breadcrumb a:hover, .breadcrumb a:focus{
    text-decoration: none;
    cursor: pointer;
}
.ng-move,
.ng-enter,
.ng-leave {
  transition:all linear 10.5s;
}

.ng-leave.ng-leave-active,
.ng-move,
.ng-enter {
  opacity:0;
  max-height:0;
}

.ng-leave,
.ng-move.ng-move-active,
.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}