.page-header h3 {
    text-align: center;
}
.news-container
{
    /* background-color: #f8f8f8; */
    border-top: 1px solid #f8f8f8;
}
.page-header{
        margin-top: 10px;
}
.breadcrumb a:hover, .breadcrumb a:focus{
    text-decoration: none;
    cursor: pointer;
}