<div class="row">
   <div class="col-md-offset-4 col-md-4">
        <my-select data-ng-if="newsCtrl.options.length > 0" options="newsCtrl.options" index-changed="newsCtrl.indexChanged" selected="newsCtrl.selectedOption">
    </my-select>
   </div>
</div>
<div style="position:relative;">
    <filter data-ng-if="newsCtrl.selectedSource" filter-array="newsCtrl.selectedSource.sortBysAvailable" on-filter-changed="newsCtrl.filterChanged(filter)"></filter>
</div>

<div class="container-fluid news-container">
    <div class="row">
        <div class="col-md-12 col-lg-12" data-ng-if="newsCtrl.articles.length > 0;" >
            
                <news-item items="newsCtrl.articles"></news-item>
        </div>
    </div>
</div>